.footer {
  background-color: #333;
  font-size: 0.9rem;
  width: 100%;
  overflow: hidden;
  height: 90px;
}

.footer__copyright {
  margin-bottom: 0;
  margin-left: 30px;
  font-size: 1rem;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons img {
  max-width: 100%;
  height: auto;
}

.legal-info {
  align-items: center;
  margin-top: -10px;
}


.footer-separator {
  width: 1px;
  height: 16px;
  background-color: #999;
  margin: 0 15px;
}
