/* forgot.css */

.mgf {
  margin: 20vh auto !important; /* Temporary fix footer */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.forgot-form {
  margin-top: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
}

.input label {
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 12.5px;
  margin-top: 5px;
  transition: opacity 0.3s ease-in-out;
  align-items: center;
}
.button {
  display: flex;
  gap: 30px;
  margin: 55px auto !important;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
  width: 100%;
}
.button .reset-button {
  width: 100%;
  background-color: var(--color-secondary);
  color: #fff;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-padding-x: 3rem;
  border: 1px solid #fff;
}
.button .reset-button:hover {
  background-color: #212529;
  border: 0;
  margin-top: 2px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 15px;
}

.social-icons img {
  height: 24px;
}

.legal-info {
  display: flex;
}

.legal-info a {
  color: #999;
  text-decoration: none;
  margin-left: 20px;
}

.legal-info a:hover {
  color: #fff;
}
