body {
  margin: 0;
  padding: 0;
 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.center-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url('./img/healthinsurance.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.form-container {
  width: 400px; 
  padding: 20px;
  border: 2px solid #ccc; 
  border-radius: 8px;
  background-color: #f0f0f0; 
  margin: auto; 
  margin-left: 50px; 
}



  
  
  
  
  