body {
  background-color: rgb(193, 215, 215);
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: rgb(193, 215, 215);
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
}

.inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.error-message {
  color: red;
  font-size: 12.5px;
  margin-top: 5px;
  transition: opacity 0.3s ease-in-out;
}

.login-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
  width: 100%;
}

.login-button .btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-right: 150px;
}

.remember-forgot .form-check {
  margin-left: 20px;
}

.remember-forgot .form-check-label {
  margin-left: 3px;
}

.signup-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 80px;
}

.signup-link span {
  margin-right: 5px;
}
