.medication-tracker {
  font-family: Verdana, sans-serif;
  max-width: 1500px;
  margin: auto;
  background-color: #198754;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.medication-tracker {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.medication-tracker .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin-right: 40px;
  border: 8px solid black;
  border-radius: 15px;
  padding: 12px;
}

h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.medication-tracker .form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.medication-tracker .form button {
  font-size: 1.2rem;
  padding: 10px;
  background-color: #198754;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  cursor: pointer;
}

.medication-tracker .form button:hover {
  background-color: #212529;
}

.medication-tracker .events .event {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F8F9FA;
  border-radius: 5px;
}

/* Calendar */
.react-calendar {
  width: 100%;
  max-width: 1000px;
  background-color: #98a0a1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 0.5rem auto;
  font-family: 'Roboto', sans-serif;
}

.react-calendar__navigation {
  background-color: #1e88e5;
  color: #fff;
  height: 100px;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-calendar__navigation button {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.react-calendar__tile {
  padding: 0px;
  font-size: 2.1rem;
  border-radius: 0px;
  border: 4px solid rgb(124, 206, 225);
  margin: 0;
}

.react-calendar__tile--active {
  background-color: #1562a5;
  color: #fff;
}

.react-calendar__tile--now {
  background-color: #45a1e3;
}

.react-calendar__tile--hasActive {
  background-color: #bbdefb;
}

.react-calendar__month-view__days__day--weekend {
  color: #d32f2f;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
}

.reminder-title {
  font-size: 14px;
  margin-left: 0px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #7e7e7e; 
  opacity: 0.5; 
}