.Popup-btn{
    position: fixed;
    border-radius: 0;

    font-size: 1rem;
    text-transform: uppercase ;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-family: 'Simplifica';

    top: 60%;
    right: 0;
    z-index: 1000;
    transform-origin: bottom right;
    transform:rotate(-90deg);
}

label {
    margin: 0 !important;
    padding: 0 0 10px;
}
