/* Color and heading fonts */

:root {
  --color-secondary: #198754;
  --color-accent: #a9d2c0;
}
body {
  background-color: #faf9f7;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
.btn-outline-light:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
}

/* Headings with secondary color and font */
h1.secondary-heading,
h2.secondary-heading,
h3.secondary-heading,
h4.secondary-heading,
h5.secondary-heading,
h6.secondary-heading {
  color: var(--color-secondary);
  font-family: "Simplifica", sans-serif;
}

/* Headings with just a different font */
h1.font-only-heading,
h2.font-only-heading,
h3.font-only-heading,
h4.font-only-heading,
h5.font-only-heading,
h6.font-only-heading {
  font-family: "Simplifica", serif;
}

/* General Styles */

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.block {
  padding: 6rem 2rem 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  color: #7b858b;
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block--dark .block__heading {
  color: white;
}

.grid {
  display: grid;
}
.grid--1x3 {
  margin-left: 10em;
  grid-template-columns: repeat(2, 350px);
}

.conainer {
  max-width: 1140px;
  margin: 0 auto;
}

/* Hero Banner */

.hero {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  background-image: url(../img/hero.gif);
  background-size: cover;
  background-position: center;
  height: 91vh;
}
.hero__tagline {
  font-size: 1.2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 3rem;
}

.hero-learn-btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 3rem;
  --bs-btn-font-size: 1rem;
}

/* Features Section */

.feature {
  width: 100%;
  padding: 50px 0 50px;
}
.feature .heading {
  text-align: center;
  width: 100%;
  padding: 20px 0 20px;
}
.feature .heading h2 {
  font-size: 32px;
  font-weight: 400;
}
.feature .heading h2 span {
  color: #117ec3;
}
.feature .heading h6 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 14px;
  padding: 8px 0 8px;
}
.feature .separator {
  width: 50px;
  height: 2px;
  margin-bottom: 50px;

  display: inline-block;
}
.feature-main {
  width: 100%;
  border-bottom: 2px solid transparent;
  background-color: #fff;
  padding-bottom: 20px;
  border-radius: 10px;
}

.cover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.feature .feature-box {
  width: 100%;
  height: auto;
  position: relative;
}
.feature .feature-box img {
  width: 100%;
  height: auto;
}
.feature .feature-head {
  text-align: center;
  padding: 10px 15px;
  border-top: none;
}
.feature .feature-head h3 {
  font-size: 16px;
  font-weight: 600;
}
.feature .feature-head p {
  color: #777;
  letter-spacing: 0.4px;
  line-height: 1.7;
  margin: 20px 0 20px;
}
.feature .feature-head a {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}
.feature .feature-head i {
  margin-left: 5px;
}
.feature .feature-box img {
  float: left;
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.feature-learn-now-btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 2rem;
  --bs-btn-font-size: 1rem;
}

/* Subscription Plans Section */

.block-plans .grid {
  gap: 8rem 4rem;
}
.block-plans .card {
  max-width: 50rem;
  margin: 0 auto;
}

.plan {
  transition: transform 0.2s ease-out;
}
.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan__description {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.plan .list__item {
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular {
  transform: scale(1.1);
}
.plan--popular .card__header::before {
  content: url(../img/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}

.plan-btn {
  text-align: center;
  padding: 10px 15px;
  border-top: none;
}
.plan-btn .btn-success {
  --bs-btn-bg: var(--color-accent);
  --bs-btn-border-color: var(--color-accent);
}

.plan-buy-now-btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 2rem;
  --bs-btn-font-size: 1rem;
}

/* Cards for Subscription plan */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-color: none;
  border-width: 0;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background: var(--color-secondary);
  color: #fff;
}
.card--secondary .card__header {
  background: rgb(25,135,84,0.8);
  color: #fff;
}

/* List Styles */
.list {
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
}
.list--tick {
  list-style-image: url(../img/tick.svg);
  padding-left: 0;
  color: #1b0760;
}
.list--tick .list__item {
  color: #777;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.list--tick .list__item {
  padding-left: 0;
}

/* FAQs */

.overline {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.faq {
  padding: 50px;
}

.faq p {
  color: #777;
}

.card-body {
  background-color: #f3f3f3;
  box-shadow: none;
}

/* Callouts */
.callout {
  padding: 2.5rem;
  border-radius: 5px;
}
.callout--primary {
  background: var(--color-secondary);
  color: white;
}

.callout--signup {
  transform: translateY(3rem);
  position: relative;
  z-index: 1;
}

.callout__heading {
  color: white;
  margin-top: 0;
  font-size: 2rem;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout__content {
  text-align: center;
}
.callout .grid--1x2 {
  grid-template-columns: 1fr auto;
}
.callout__content {
  text-align: left;
}
.callout-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border-top: none;
  align-self: center;
}
.callout-btn .btn-outline-light:hover {
  background-color: #212529;
  color: white;
}

.buy-now-btn {
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-padding-x: 3rem;
  --bs-btn-font-size: 1.3rem;
}
